<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for Internet and Location -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_PRM"
        tools:targetApi="31">
        <activity
            android:name=".widgets.BackView"
            android:exported="false"
            tools:ignore="Instantiatable" />
 <!-- Splash Activity: KHỞI ĐỘNG APP -->
        <activity
            android:name=".DashBoardScreen.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Onboarding Screens -->
        <activity
            android:name=".DashBoardScreen.Onboarding1Activity"
            android:exported="false" />
        <activity
            android:name=".DashBoardScreen.Onboarding2Activity"
            android:exported="false" />
        <activity
            android:name=".DashBoardScreen.Onboarding3Activity"
            android:exported="false" /> <!-- Authentication Screens -->
        <activity
            android:name=".ui.auth.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.auth.SignInActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" /> <!-- Main Activity (Dashboard) -->
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.appointment.MyAppointmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Các màn chính -->
        <activity
            android:name=".MainScreen.DiseaseLibraryActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.FindClinicActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.ChatbotActivity"
            android:exported="false" />
    </application>

</manifest>