<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for Internet and Location -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_PRM"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY" />

        <activity
            android:name=".ui.auth.LoginOptionActivity"
            android:exported="false" /> <!-- Splash Activity: KHỞI ĐỘNG APP -->
        <activity
            android:name=".DashBoardScreen.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Onboarding Screens -->
        <activity
            android:name=".DashBoardScreen.Onboarding1Activity"
            android:exported="false" />
        <activity
            android:name=".DashBoardScreen.Onboarding2Activity"
            android:exported="false" />
        <activity
            android:name=".DashBoardScreen.Onboarding3Activity"
            android:exported="false" /> <!-- Authentication Screens -->
        <activity
            android:name=".ui.auth.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.auth.SignInActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" /> <!-- Main Activity (Dashboard) -->
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Các màn chính -->
        <activity
            android:name=".MainScreen.DiseaseLibraryActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.FindClinicActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.FindDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.ChatbotActivity"
            android:exported="false" />
        <activity android:name=".MainScreen.AppointmentHistoryActivity" />
        <activity android:name=".MainScreen.DoctorProfileActivity" />
        <activity android:name=".MainScreen.WriteReviewActivity" />
        <activity android:name=".MainScreen.RescheduleAppointmentActivity" />
        <activity android:name=".MainScreen.CancelAppointmentActivity" />
        <activity android:name=".MainScreen.AppointmentDetailsActivity" />
        <activity android:name=".MainScreen.NotificationActivity" />
        <activity android:name=".AllUtilitiesActivity" />


        <!-- Các màn  datnh.m -->
        <activity android:name=".Article.ArticlesActivity" />
        <activity android:name=".User_Profile.ProfileActivity" />
        <activity android:name=".User_Profile.EditProfileActivity" />
        <activity android:name=".User_Profile.LanguageActivity" />
        <activity android:name=".User_Profile.SecurityActivity" />


    </application>

</manifest>